absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyascii
anyio
assemblyai
asteroid-filterbanks
async-timeout
attrs
audioread
babel
bangla
blinker
blis
bnnumerizer
bnunicodenormalizer
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
coloredlogs
colorlog
confection
contourpy
coqpit
coverage
cycler
cymem
Cython
dataclasses-json
dateparser
decorator
deprecation
distro
docopt
einops
encodec
et_xmlfile
exceptiongroup
eyed3
fastapi
ffmpeg-python
ffmpy
filelock
filetype
Flask
flask-cors
flatbuffers
fonttools
frozenlist
fsspec
g2pkk
gradio
gradio_client
grpcio
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
gunicorn
h11
hangul-romanize
hmmlearn
httpcore
httpx
httpx-sse
huggingface-hub
humanfriendly
HyperPyYAML
idna
imbalanced-learn
imblearn
importlib_metadata
importlib_resources
inflect
itsdangerous
jamo
jieba
Jinja2
jiter
joblib
jsonlines
jsonpatch
jsonpointer
julius
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
lazy_loader
librosa
lightning
lightning-utilities
llvmlite
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
more-itertools
mpmath
msgpack
multidict
murmurhash
mypy-extensions
narwhals
networkx
nltk
num2words
numba
numpy
omegaconf
onnxruntime
openai
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
openpyxl
optuna
orjson
packaging
pandas
pillow
platformdirs
plotly
pooch
preshed
primePy
propcache
protobuf
psutil
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
PyAudio
pyAudioAnalysis
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
pynndescent
pyobjc
pyobjc-core
pyobjc-framework-Accessibility
pyobjc-framework-Accounts
pyobjc-framework-AddressBook
pyobjc-framework-AdServices
pyobjc-framework-AdSupport
pyobjc-framework-AppleScriptKit
pyobjc-framework-AppleScriptObjC
pyobjc-framework-ApplicationServices
pyobjc-framework-AppTrackingTransparency
pyobjc-framework-AudioVideoBridging
pyobjc-framework-AuthenticationServices
pyobjc-framework-AutomaticAssessmentConfiguration
pyobjc-framework-Automator
pyobjc-framework-AVFoundation
pyobjc-framework-AVKit
pyobjc-framework-AVRouting
pyobjc-framework-BackgroundAssets
pyobjc-framework-BusinessChat
pyobjc-framework-CalendarStore
pyobjc-framework-CallKit
pyobjc-framework-Carbon
pyobjc-framework-CFNetwork
pyobjc-framework-ClassKit
pyobjc-framework-CloudKit
pyobjc-framework-Cocoa
pyobjc-framework-Collaboration
pyobjc-framework-ColorSync
pyobjc-framework-Contacts
pyobjc-framework-ContactsUI
pyobjc-framework-CoreAudio
pyobjc-framework-CoreAudioKit
pyobjc-framework-CoreBluetooth
pyobjc-framework-CoreData
pyobjc-framework-CoreHaptics
pyobjc-framework-CoreLocation
pyobjc-framework-CoreMedia
pyobjc-framework-CoreMediaIO
pyobjc-framework-CoreMIDI
pyobjc-framework-CoreML
pyobjc-framework-CoreMotion
pyobjc-framework-CoreServices
pyobjc-framework-CoreSpotlight
pyobjc-framework-CoreText
pyobjc-framework-CoreWLAN
pyobjc-framework-CryptoTokenKit
pyobjc-framework-DataDetection
pyobjc-framework-DeviceCheck
pyobjc-framework-DictionaryServices
pyobjc-framework-DiscRecording
pyobjc-framework-DiscRecordingUI
pyobjc-framework-DiskArbitration
pyobjc-framework-DVDPlayback
pyobjc-framework-EventKit
pyobjc-framework-ExceptionHandling
pyobjc-framework-ExecutionPolicy
pyobjc-framework-ExtensionKit
pyobjc-framework-ExternalAccessory
pyobjc-framework-FileProvider
pyobjc-framework-FileProviderUI
pyobjc-framework-FinderSync
pyobjc-framework-FSEvents
pyobjc-framework-GameCenter
pyobjc-framework-GameController
pyobjc-framework-GameKit
pyobjc-framework-GameplayKit
pyobjc-framework-HealthKit
pyobjc-framework-ImageCaptureCore
pyobjc-framework-InputMethodKit
pyobjc-framework-InstallerPlugins
pyobjc-framework-InstantMessage
pyobjc-framework-Intents
pyobjc-framework-IntentsUI
pyobjc-framework-IOBluetooth
pyobjc-framework-IOBluetoothUI
pyobjc-framework-IOSurface
pyobjc-framework-iTunesLibrary
pyobjc-framework-KernelManagement
pyobjc-framework-LatentSemanticMapping
pyobjc-framework-LaunchServices
pyobjc-framework-libdispatch
pyobjc-framework-libxpc
pyobjc-framework-LinkPresentation
pyobjc-framework-LocalAuthentication
pyobjc-framework-LocalAuthenticationEmbeddedUI
pyobjc-framework-MailKit
pyobjc-framework-MapKit
pyobjc-framework-MediaAccessibility
pyobjc-framework-MediaLibrary
pyobjc-framework-MediaPlayer
pyobjc-framework-MediaToolbox
pyobjc-framework-Metal
pyobjc-framework-MetalFX
pyobjc-framework-MetalKit
pyobjc-framework-MetalPerformanceShaders
pyobjc-framework-MetalPerformanceShadersGraph
pyobjc-framework-MetricKit
pyobjc-framework-MLCompute
pyobjc-framework-ModelIO
pyobjc-framework-MultipeerConnectivity
pyobjc-framework-NaturalLanguage
pyobjc-framework-NetFS
pyobjc-framework-Network
pyobjc-framework-NetworkExtension
pyobjc-framework-NotificationCenter
pyobjc-framework-OpenDirectory
pyobjc-framework-OSAKit
pyobjc-framework-OSLog
pyobjc-framework-PassKit
pyobjc-framework-PencilKit
pyobjc-framework-PHASE
pyobjc-framework-Photos
pyobjc-framework-PhotosUI
pyobjc-framework-PreferencePanes
pyobjc-framework-PushKit
pyobjc-framework-Quartz
pyobjc-framework-QuickLookThumbnailing
pyobjc-framework-ReplayKit
pyobjc-framework-SafariServices
pyobjc-framework-SafetyKit
pyobjc-framework-SceneKit
pyobjc-framework-ScreenCaptureKit
pyobjc-framework-ScreenSaver
pyobjc-framework-ScreenTime
pyobjc-framework-ScriptingBridge
pyobjc-framework-SearchKit
pyobjc-framework-Security
pyobjc-framework-SecurityFoundation
pyobjc-framework-SecurityInterface
pyobjc-framework-ServiceManagement
pyobjc-framework-SharedWithYou
pyobjc-framework-SharedWithYouCore
pyobjc-framework-ShazamKit
pyobjc-framework-Social
pyobjc-framework-SoundAnalysis
pyobjc-framework-Speech
pyobjc-framework-SpriteKit
pyobjc-framework-StoreKit
pyobjc-framework-SyncServices
pyobjc-framework-SystemConfiguration
pyobjc-framework-SystemExtensions
pyobjc-framework-ThreadNetwork
pyobjc-framework-UniformTypeIdentifiers
pyobjc-framework-UserNotifications
pyobjc-framework-UserNotificationsUI
pyobjc-framework-VideoSubscriberAccount
pyobjc-framework-VideoToolbox
pyobjc-framework-Virtualization
pyobjc-framework-Vision
pyobjc-framework-WebKit
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
python-dotenv
python-multipart
pytorch-lightning
pytorch-metric-learning
pyttsx3
pytz
PyYAML
regex
requests
requests-toolbelt
Resemblyzer
rich
ruamel.yaml
ruamel.yaml.clib
ruff
safetensors
scikit-learn
scipy
semantic-version
semver
sentencepiece
shellingham
simplejson
smart-open
sniffio
sortedcontainers
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
speechbrain
SpeechRecognition
SQLAlchemy
srsly
starlette
SudachiDict-core
SudachiPy
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboardX
thinc
threadpoolctl
tiktoken
tokenizers
toml
tomlkit
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tqdm
trainer
transformers
TTS
typeguard
typer
typing
typing-inspect
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
urllib3
uvicorn
wasabi
weasel
webrtcvad
websockets
Werkzeug
whisper
wrapt
yarl
zipp
zstandard
